name: Deploy Docker image on EC2 istances.

on:
   workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }} 

      - name: Set an version tag.
        id: version
        run: echo "TAG=v${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build & Push to Docker Registry
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            aniketjok/fashion:${{ env.TAG }}
            aniketjok/fashion:latest
